<html>
<head>
<title> {{BlogName}} </title>
<link rel=authorization_endpoint href="{{AuthorizationEndpoint}}">
<link rel="token_endpoint" href="{{TokenEndpoint}}"> 
</head>
<body>

This site will be back online soon!

</body>